*{
    margin: 0;
}
.backgroundCircle{
    position: absolute;
    top:-75vh;
    width: 100vw;
    height: 100vh;
    border-radius: 50%;
    background-color: orange;
    z-index: -1;
}

#pageTitle{
    position: relative;
    text-align: center;
    top:5vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}

.recentlyCreated{
    position: absolute;
    top:29vh;
    left:13vw;
    height: 25vh;
    width: 76vw;
    background-color: gray;
    border-radius: 10px;

}
.history{
    position: absolute;
    top:55vh;
    left:13vw;
    height: 25vh;
    width: 76vw;
    background-color: gray;
    border-radius: 10px;

}
#bottomNav{
    position: absolute;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
    width: 60vw;
    height:11vh;
    top:83vh;
    left: 20vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 11vh;
}

.icon{
    position: relative;
    height: 40%;
    width: 10%;
    top: 30%;
}
#addIcon{
    transform: scale(2);
    background-color: orange;
    border-radius: 50%;
}
ol{
    padding-left: 0;
}
li{
    list-style: inherit;
}
.item,.heading{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    margin: 20px;
    border: solid 1px;
    border-color: white;
    border-radius: 2px;
    list-style: none;
}

h3{
    position: relative;
    left: 35px;
    top:15px;
}