<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <title>Dashboad</title>
</head>
<body>
    <div class="backgroundCircle"></div>
    <header>
        <a href="{{url_for('logout')}}">
            <img src="{{ url_for('static', filename='img/logout.svg') }}" onclick="history.back()" class="logout" id="back" alt="Logout" >
            </a><p style="font-size: smaller; margin-left: 10px;">Logout</p>
        
        <h1 id="pageTitle">Dashboard</h1>
    </header>



    <div class="content">
        <div id="watchListContainer">
            <h2 id="heading">Weekly Shopping Analysis</h2>
            <!-- <ul class="watchList">
                <ul class="item">
                    <li>cat</li>
                    <li>-</li>
                    <li>hello</li>
                </ul>
                <ul class="item">
                    <li>cat</li>
                    <li>-</li>
                    <li>hello</li>
                </ul>
                <ul class="item">
                    <li>cat</li>
                    <li>-</li>
                    <li>hello</li>
                </ul>
            </ul> -->
            <div class="intContent">
                <h4>Food Wastage has been reduced upto 15% over the last week</h4>
            </div>
            <div class="viewm">
                <a href=""class>View more</a>

            </div>
        </div>
    </div>
    <footer>
        <nav id="bottomNav">
            <a href="home"><img src="{{ url_for('static', filename='img/home.png') }}" class="icon" id="homeIcon" style="width:30px;height:30px;" ></a>      
            <a href="glist"><img src="{{ url_for('static', filename='img/cart.png') }}" class="icon" id="cartIcon"  style="width:30px;height:30px;"></a>
            <a href="newlist"><img src="{{ url_for('static', filename='img/add.png') }}" class="icon" id="addIcon"  style="width:30px;height:30px;"></a>
            <a href="wasted"><img src="{{ url_for('static', filename='img/delete.png') }}" class="icon" id="deleteIcon"  style="width:30px;height:30px;"></a>
            <a href="dash"><img src="{{ url_for('static', filename='img/graph.png') }}" class="icon" id="graphIcon"  style="width:30px;height:30px;"></a>
        </nav>
    </footer>
</body>
</html>