<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/grocery-list.css">
    <title>Grocery list</title>
</head>
<body>
    <div class="backgroundCircle"></div>
    <header>
        <img src="icons/back.png" id="back">
        <h1 id="pageTitle">Grocery list</h1>
    </header>
    <div class="content">
        <ol class="recentlyCreated">
            <h3>Recently created</h3>
            <ul class="item">
                <li>cat</li>
                <li>-</li>            
                <li>hello</li>
                <li><input type="checkbox" name="" id=""></li>
            </ul>
            <ul class="item">
                <li>cat</li>
                <li>-</li>
                <li>hello</li>
                <li><input type="checkbox" name="" id=""></li>
            </ul>
        </ol>
        <ol class="history">
            <h3>History</h3>
            <ul class="item">
                <li>cat</li>
                <li>-</li>            
                <li>hello</li>
                <li><input type="checkbox" name="" id=""></li>
            </ul>
            <ul class="item">
                <li>cat</li>
                <li>-</li>
                <li>hello</li>
                <li><input type="checkbox" name="" id=""></li>
            </ul>
        </ol>
    </div>
    <footer>
        <nav id="bottomNav">
            <img src="icons/home.png" class="icon" id="homeIcon">
            <img src="icons/cart.png" class="icon" id="cartIcon">
            <img src="icons/add.png" class="icon" id="addIcon">
            <img src="icons/delete.png" class="icon" id="deleteIcon">
            <img src="icons/graph.png" class="icon" id="graphIcon">
        </nav>
    </footer>
</body>
</html>