<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="{{ url_for('static', filename='css/home.css') }}">
    <title>Home</title>
</head>
<body>
    <div class="backgroundCircle"></div>
    <header>
        <h1 id="pageTitle">HOME</h1>
    </header>
    

    <nav role="navigation">
        <div id="menuToggle">

          <input type="checkbox" />

          <span></span>
          <span></span>
          <span></span>
          
          <ul id="menu">
            <a href="{{url_for('logout')}}"><li>Log Out</li></a>

          </ul>
        </div>
      </nav>




    <div class="content">
        <div id="watchListContainer">
            <h2 id="heading">Watch list</h2>
            <ul class="watchList">
                <ul class="item">
                    <li>Milk</li>
                    <li>-</li>
                    <li>3 Days left</li>
                </ul>
                <ul class="item">
                    <li>Bread</li>
                    <li>-</li>
                    <li>5 days left</li>
                </ul>
                <ul class="item">
                    <li>Eggs</li>
                    <li>-</li>
                    <li>6 days left</li>
                </ul>
            </ul>
        </div>
    </div>
    <footer>
        <nav id="bottomNav">
            <a href="home"><img src="{{ url_for('static', filename='img/home.png') }}" class="icon" id="homeIcon" style="width:30px;height:30px;" ></a>      
            <a href="glist"><img src="{{ url_for('static', filename='img/cart.png') }}" class="icon" id="cartIcon"  style="width:30px;height:30px;"></a>
            <a href="gclist"><img src="{{ url_for('static', filename='img/add.png') }}" class="icon" id="addIcon"  style="width:30px;height:30px;"></a>
            <a href="wasted"><img src="{{ url_for('static', filename='img/delete.png') }}" class="icon" id="deleteIcon"  style="width:30px;height:30px;"></a>
            <a href="dash"><img src="{{ url_for('static', filename='img/graph.png') }}" class="icon" id="graphIcon"  style="width:30px;height:30px;"></a>
        </nav>
    </footer>
</body>
</html>