<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new-grocery-list.css') }}">
    <title>New grocery list</title>
</head>
<body>
    <div class="backgroundCircle"></div>
    <header>
        <img src="{{ url_for('static', filename='img/back.png') }}" id="back">
        <h1 id="pageTitle">New grocery list</h1>
    </header>
    <div class="content">
        <div class="form">
            <form action="gclist" method="post">

                <div class="item">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </div>
                <div class="item">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
    <footer>    
        <nav id="bottomNav">
            <a href="home"><img src="{{ url_for('static', filename='img/home.png') }}" class="icon" id="homeIcon" style="width:30px;height:30px;" ></a>      
            <a href="glist"><img src="{{ url_for('static', filename='img/cart.png') }}" class="icon" id="cartIcon"  style="width:30px;height:30px;"></a>
            <a href="newlist"><img src="{{ url_for('static', filename='img/add.png') }}" class="icon" id="addIcon"  style="width:30px;height:30px;"></a>
            <a href="wasted"><img src="{{ url_for('static', filename='img/delete.png') }}" class="icon" id="deleteIcon"  style="width:30px;height:30px;"></a>
            <a href="dash"><img src="{{ url_for('static', filename='img/graph.png') }}" class="icon" id="graphIcon"  style="width:30px;height:30px;"></a>
        </nav>
    </footer>
</body>
</html>