<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/new-grocery-list.css">
    <title>New grocery list</title>
</head>
<body>
    <div class="backgroundCircle"></div>
    <header>
        <img src="icons/back.png" id="back">
        <h1 id="pageTitle">New grocery list</h1>
    </header>
    <div class="content">
        <div class="form">
            <form action="post">
                <div class="item">
                    <label for="type">Type</label>
                    <input type="text" name="type">
                </div>
                <div class="item">
                    <label for="name">Name</label>
                    <input type="text" name="name">
                </div>
                <div class="item">
                    <label for="members">Members</label>
                    <select name="members" id="members">
                        <option value="1">1</option>
                    </select>
                </div>
                <div class="item">
                    <label for="quantity">Quantity</label>
                    <select name="quantity" id="quantity">
                    <option value="0">0</option>
                    </select>
                </div>
                <div class="item">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
    <footer>    
        <nav id="bottomNav">
            <img src="icons/home.png" class="icon" id="homeIcon">
            <img src="icons/cart.png" class="icon" id="cartIcon">
            <img src="icons/add.png" class="icon" id="addIcon">
            <img src="icons/delete.png" class="icon" id="deleteIcon">
            <img src="icons/graph.png" class="icon" id="graphIcon">
        </nav>
    </footer>
</body>
</html>