<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/new-grocery-list.css') }}">
    <title>New grocery list</title>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
</head>
<body>
    <div class="backgroundCircle"></div>
    <header>
        <img src="{{ url_for('static', filename='img/back.png') }}"  onclick="history.back()" id="back">
        <h1 id="pageTitle">New grocery list</h1>
    </header>
    <div class="content">
        <div class="form">
            <form action="" method="post">
               
                <div class="item">
                    <label for="type">Type</label>
                    
                    <select name="type" id="type">
                    <option value="" disabled selected>Select an option</option>
                    <option value="Fruits">Fruits</option>
                    <option value="Vegetables">Vegetables </option>
                    <option value="Meat">Meat</option>
                    <option value="Dairy">Dairy</option>
                    </select>
                </div>
                <div class="item">
                    <label for="name">Name</label>
                    <select name="name" id="name">
                        <option value="" disabled selected>Please select an option</option>

                    </select>
                </div>
                <div class="item">
                    <label for="exdate">Expiry date</label>
                    <input type="date" id="exdate" name="exdate">
                </div>
                <div class="item">
                    <label for="members">Members</label>
                    <select name="members" id="members">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select>
                </div>
                <div class="item">
                    <label for="quantity">Quantity</label>
                    <input type="number" style="width: 20px;" name="quantity" id="quantity">


                    <label for="unit">Unit</label>
                    <select name="unit" id="unit" style="position: 20px;">
                        <option value="" disabled selected>Please select an option</option>
                        <option value="count">count</option>
                        <option value="kg">kg</option>
                        <option value="L">L</option>

                    </select>
                </div>
                <div class="message" id="message">
                    <h4>Reccomened Qantity</h4>
                    <p id="msgbody">Based on you grocery usage data,
                        we reccomend you get # amount of #Name></p>
                </div>

            
                <div class="item">
                    <div><input type="submit" value="Submit" class="button"></div>
                    <div style="top: 1em; "><button type="button" class="button" onclick="history.back()" style="border-radius: .7em;">Cancel</button></div>
                </div>
            </form>
        </div>
    </div>
    <script>
        

        async function getPrediction(urlf) {
        
            let data = await fetch(urlf);
            let tdata = await data.text();
            let name = document.getElementById("name").value;
            let v = document.getElementById("quantity");
            console.log(tdata)
            let delata = parseInt(v.value) - parseInt(tdata);
            v.value = delata ;
            let message = document.getElementById("message");
            message.style.visibility = 'visible';

            let msgbody = document.getElementById("msgbody");
            let m = "Based on you grocery usage data,we reccomend you get "
                        
            msgbody.innerHTML = m.concat("<strong>",delata,"</strong> amount of <strong>",name,"</strong>")
            console.log("done")

                }


        document.getElementById("unit").onchange = function() {myFunction()};
        function myFunction() {
            let url1 = "http://192.168.29.205:5000/predict";
            let fb = document.getElementById("quantity").value;
            // let fb = 4
            let ppl = document.getElementById("members").value;
            let name = document.getElementById("name").value;
            let urlf = url1.concat("/",fb,"/",ppl,"/",name)
            getPrediction(urlf);
            
           
            
            }

        var lookup = {
            'Fruits': ['Apple', 'Mango', 'Banana'],
            'Vegetables': ['Onion', 'Tomato','Broccoli'],
            'Meat': ['Beef','Pork','Chicken'],
            'Dairy': ['Milk','Yougurt','Curd']
            };

            // When an option is changed, search the above for matching choices
            $('#type').on('change', function() {
            // Set selected option as variable
            var selectValue = $(this).val();

            // Empty the target field
            $('#name').empty();
            
            // For each chocie in the selected option
            for (i = 0; i < lookup[selectValue].length; i++) {
                // Output choice in the target field
                $('#name').append("<option value='" + lookup[selectValue][i] + "'>" + lookup[selectValue][i] + "</option>");
            }
            });
    </script>

   

</body>
</html>