<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/report-wasted.css') }}">
    <title>Grocery wasted list</title>
</head>
<body>
    <div class="backgroundCircle"></div>
    <header>
        <img src="{{ url_for('static', filename='img/back.png ') }}" id="back">
        <h1 id="pageTitle">Grocery wasted list</h1>
    </header>
    <div class="content">
        <div class="form">
            <h3>Wasted Item : {{ glist.name }}</h3>
            <form action="", method="post">
                <div class="item">
                    <label for="quantity">Quantity</label>
                    <input type="number" style="width: 20px;" name="quantity">

                    </select>
                </div>
                <div class="item">
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
        </div>
    </div>
    <footer>    
        <nav id="bottomNav">
            <a href="{{ url_for('home')}}"><img src="{{ url_for('static', filename='img/home.png') }}" class="icon" id="homeIcon" style="width:30px;height:30px;" ></a>      
            <a href=" {{ url_for('glist')}}"><img src="{{ url_for('static', filename='img/cart.png') }}" class="icon" id="cartIcon"  style="width:30px;height:30px;"></a>
            <a href="{{ url_for('newlist')}}"><img src="{{ url_for('static', filename='img/add.png') }}" class="icon" id="addIcon"  style="width:30px;height:30px;"></a>
            <a href="{{ url_for('delete')}}"><img src="{{ url_for('static', filename='img/delete.png') }}" class="icon" id="deleteIcon"  style="width:30px;height:30px;"></a>
            <a href="{{ url_for('dash')}}"><img src="{{ url_for('static', filename='img/graph.png') }}" class="icon" id="graphIcon"  style="width:30px;height:30px;"></a>
        </nav>
    </footer>
</body>
</html>